@import "tailwindcss";

@font-face {
    font-family: "Lusane";
    src: url("/public/fonts/Lausanne-300.woff2");
}

@font-face {
    font-family: "Lusane2";
    src: url("/public/fonts/Lausanne-500.woff2");
}

@font-face {
    font-family: "Roboto";
    src: url("/public/fonts/roboto-latin-regular.woff2");
}

@font-face {
    font-family: "Popins";
    src: url("/public/fonts/Poppins-Regular\ \(3\).ttf");
}


html{
   font-family: "Lusane";
   color:#fff;
}

body{
    background-color: #010101fa;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Lusane2";
    color:#fff;
}


#all-links h2{
    font-size: 8vw;
    line-height: 0.8;
    padding-top:18px;
    white-space: nowrap;
    color:#000;
}

@layer components{
   #all-links img{
    @apply w-65 h-23 shrink-0  rounded-full object-cover;
   }
}

.marquee-container{
    z-index: 30;
}


.marquee{
    opacity: 0;
    transition: transform 2.35s ease,opacity 0.3s linear;
    z-index: 40;
}

.marquee-container:hover  .marquee{
    transform: translateX(-1000px);
    opacity: 1;
}


